/* Variables */
$mw: 'Merriweather', serif;
$ub: 'Ubuntu', sans-serif;
/* Variables */

/* Colors */
$main: #304163;
$secondary: #FAFAFA;
$dark_gray: #232323;
$white: #FFFFFF;
$btn_active: #212E47;
$btn_hover: #45619B;
$siren: #EDF3FF;
$border_gray: #E9E9E9;

    /* Chart Colors */
    $chart_orange: #FF9100;
    $chart_glue: #02CCCC;
    $chart_purple: #9278F4;
    $chart_gray: #839FBE;
    $chart_red: #FF7262;
    $chart_bg: #DEEEFF;
    /* Chart Colors */
/* Colors */